body {
  padding-top: 50px;
  background-color: #EDF2F5;
  overflow: auto;
}

.bg-blue {
  /* background-color: #3F3F63; */
  background-color: #1C1D26;
}

.bg-gray {
  background-color: #88A1B2;
}

.text-white {
  color: white;
}

.btn-pink {
  color: white;
  background-color: #EE5462;
}

.btn-pink:hover,
.btn-pink:focus {
  color: white;
  background-color: #DA4F5D;
}

/* SIDE BAR */
.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  /* background-color: #3F3F63; */
  background-color: #1C1D26;
  overflow: auto;
}

/* SIDE BAR - HEADER */
.sidebar > div:first-child {
  padding: 30px 10px;
  font-weight: bold;
  font-size: 15px;
  /* background-color: #383957; */
  background-color: #1C1D26;
}

.sidebar > div:first-child > h4 {
  color: #e0deeb;
}

.sidebar > div:first-child > h5 {
  color: #b6b4c1;
}

/* SIDE BAR - LIST */
.sidebar .list-group {
  padding: 0;
  /* background-color: #3F3F63; */
  background-color: #1C1D26;
}

.sidebar .list-group > span {
  color: #b6b4c1;
  display: block;
  margin-top: 20px;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 300;
}

.sidebar .list-group .list-group-item,
.sidebar .list-group .list-group-item:focus {
  /* background-color: #3F3F63; */
  background-color: #1C1D26;
  color: #b6b4c1;
  border: 0;
  padding-left: 60px;
  padding-right: 30px;
}

.sidebar .list-group .list-group-item.active,
.sidebar .list-group .list-group-item:hover {
  /* background-color: #383957; */
  background-color: #EE5462;
  color: #e0deeb;
}

.sidebar .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sidebar .list-group .list-group-item .badge,
.sidebar .list-group .list-group-item.active .badge {
  background-color: #EE5462;
  color: #e0deeb;
}

/* SIDE BAR - LOGOUT */
.sidebar > div:last-child {
  padding: 30px;
}

.sidebar > div:last-child .btn {
  width: 100%;
}

/* CONTENT */
.content {
  padding: 0 40px;
}

.content .panel {
  border: none;
}

.table > thead > tr > th,
.table > thead > tr > td {
  vertical-align: middle;
}

.table,
.table > thead > tr > th {
  border-color: #88A1B2
}
