{% extends 'base.html' %}

{% block title %} ShareTea {% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            var now = new Date();
            setInterval(function() {
                $.ajax({
                    url: '/api/sharetea_owner/order/notification/' + now.toISOString() + '/',
                    method: 'GET',
                    success: function(data) {
                        if (data['notification'] === 0) {
                            $('.badge').text('');
                        } else {
                            $('.badge').text(data['notification']);
                        }
                    }
                })
            }, 3000)
        })

    </script>
{% endblock %}

{% block sidebar %}

  {% url 'owner-order' as owner_order_url %}
  {% url 'owner-drink' as owner_drink_url %}
  {% url 'owner-report' as owner_report_url %}
  {% url 'owner-account' as owner_account_url %}
  {% url 'owner-ingredient' as owner_ingredient_url %}

  <div class="text-center">
    <img class="img-circle" src="{{MEDIA_URL}}{{request.user.owner.logo}}"
      width="70" height="70">
      <br/>
      <br/>
      <h4>Hi, {{ request.user.get_full_name }}</h4>
      <h5>{{ request.user.owner.name }}</h5>
  </div>

  <div class="list-group">
    <span class="text-uppercase">Dashboard</span>

    <a href="{% url 'owner-order' %}"
        class="list-group-item {% if request.path == owner_order_url %} active {% endif %} ">
        Orders
        <span class="badge"></span>
    </a>
    <a href="{% url 'owner-drink' %}"
        class="list-group-item {% if request.path == owner_drink_url %} active {% endif %} ">Drinks</a>

    <a href="{% url 'owner-ingredient' %}"
        class="list-group-item {% if request.path == owner_ingredient_url %} active {% endif %} ">Ingredients</a>
    <a href="{% url 'owner-report' %}"
        class="list-group-item {% if request.path == owner_report_url %} active {% endif %} ">Reports</a>

    <span class="text-uppercase">Profile</span>
    <a href="{% url 'owner-acct' %}" class="list-group-item">Account</a>
  </div>

  <div class="text-center">
    <a href="{% url 'restaurant-sign-out' %}?next={{ request.path }}"
        class="btn btn-pink">Logout</a>
  </div>
{% endblock %}
