{% extends 'sharetea_owner/base.html' %}

{% block page %}

    <div class="panel">
        <div class="panel-heading bg-blue">
            <h4 class="panel-title text-center text-white">Drinks</h4>
        </div>
        <div class="panel-body">
            <div class="text-right">
                <a href="{% url 'owner-add-drink' %}" class="btn btn-pink">Add Drink</a>
                <br/>
                <br/>
            </div>

            <table class="table table-hover table-striped">
                <thead>
                  <tr class="bg-gray text-white">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Short Description</th>
                    <th>Price</th>
                    <th>Calories</th>
                    <th class="text-center">Image</th>
                  </tr>
                </thead>
                <tbody>
                    {% for drink in drinks %}
                        <tr>
                          <td scope="row">{{ drink.id }}</td>
                          <td><a href="{% url 'owner-edit-drink' drink.id %}">{{ drink.name }}</a></td>
                          <td>{{ drink.category }}</td>
                          <td>{{ drink.short_description }}</td>
                          <td>{{ drink.price }}</td>
                          <td>{{ drink.calories}}</td>
                          <td class="text-center"><img class="img-rounded"
                              src="{{ MEDIA_URL }}{{ drink.image }}" width="50" height="50"></td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}
