<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="=utf-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
  ShareTeaHomeOwner Page
  <a href="{% url 'restaurant-sign-out' %}">Log Out</a>
</body>
</html>
