{% extends 'sharetea_owner/base.html' %}

{% block page %}

    <div class="panel">
        <div class="panel-heading bg-blue">
            <h4 class="panel-title text-center text-white">Ingredients</h4>
        </div>
        <div class="panel-body">
            <div class="text-right">
                <a href="{% url 'owner-add-ingredient' %}" class="btn btn-pink">Add Ingredient</a>
                <br/>
                <br/>
            </div>

            <table class="table table-hover table-striped">
                <thead>
                  <tr class="bg-gray text-white">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Short Description</th>
                    <th>Price</th>
                    <th>Calories</th>
                    <th>Available</th>
                    <th class="text-center">Image</th>
                  </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                        <tr>
                          <td scope="row">{{ ingredient.id }}</td>
                          <td><a href="{% url 'owner-edit-ingredient' ingredient.id %}">{{ ingredient.name }}</a></td>
                          <td>{{ ingredient.short_description }}</td>
                          <td>{{ ingredient.price }}</td>
                          <td>{{ ingredient.calories}}</td>
                          <td>{{ ingredient.available}}</td>
                          <td class="text-center"><img class="img-rounded"
                              src="{{ MEDIA_URL }}{{ ingredient.image }}" width="50" height="50"></td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}
