{% extends 'sharetea_owner/base.html' %}

{% block page %}

    <div class="panel">
        <div class="panel-heading bg-blue">
            <h4 class="panel-title text-center text-white">Orders</h4>
        </div>
        <div class="panel-body">
            <br/>
            <table class="table table-hover table-striped">
                <thead>
                  <tr class="bg-gray text-white">
                    <th>Id</th>
                    <th>Order Details</th>
                    <th>Customer</th>
                    <th>Driver</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr class="active">
                        <td scope="row">{{ order.id }}</td>
                        <td>
                          {% for od in order.order_details.all %}
                              {{ od.drink.name }} {{ od.drink.price }}
                              x {{ od.quantity }} = ${{ od.sub_total }}
                          {% endfor %}
                        </td>
                        <td>{{ order.customer }}</td>
                        <td>{{ order.driver }}</td>
                        <td>{{ order.total }}</td>
                        <td>{{ order.get_status_display }}</td>
                        <td>
                            {% if order.status == 3 %}
                                <form method="POST">
                                  {% csrf_token %}
                                  <input name="id" value="{{ order.id }}" hidden>
                                  <button class="btn btn-success">Ready</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
