{% extends 'base_signup.html' %}
{% load bootstrap3 %}

{% block title %}Sign In{% endblock %}
{% block heading %}Owner - Sign In{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-pink pull-right">Sign In</button>
</form>
<a href="{% url 'owner-sign-up' %}"> Become a ShareTea Owner</a>
{% endblock %}
