{% extends 'base_signup.html' %}
{% load bootstrap3 %}

{% block title %}Sign In{% endblock %}
{% block heading %}Owner - Sign In{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form user_form %}
  {% bootstrap_form owner_form %}
  <button type="submit" class="btn btn-pink pull-right">Sign Up</button>
</form>
<a href="{% url 'restaurant-sign-in' %}"> Already a member?</a>
{% endblock %}
