.bg-blue {
  background-color: #000
}

.btn-pink {
  color: white;
  background-color: #EE5462
}

.btn-pink:hover,
.btn-pink:focus {
  color: white;
  background-color: #DA4F5D
}
/* .bg-blue {
  background-color: #3F3F63
} */
