{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<header class="intro-header">
  <meta charset="=utf-8">
  <title>{% block title %}{% endblock %}</title>
  <!-- {% load static %} -->

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script src="{% static 'js/bootstrap2.min.js' %}"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<!-- <body style="background-image: url({% static 'images/sharetea_background.png' %})"> -->
<body class="bg-blue">

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <br/>
        <br/>
        <br/>
          <div class="panel panel-body">
            <div class="panel-body">
              <h3 class="text-center text-uppercase"><b>{% block heading %}{% endblock %}</b></h3>
              <br/>
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
