{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<header class="intro-header">
  <meta charset="=utf-8">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  {% block script %}{% endblock %}
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 sidebar">
          {% block sidebar %}{% endblock %}
      </div>
      <div class="col-lg-10 col-lg-offset-2 col-md-10 ol-lg-offset-2 col-sm-10 ol-lg-offset-2 content">
          {% block page %}{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
